:root {
  --primary1: hsl(193, 38%, 86%);
  --primary2: hsl(150, 100%, 66%);
  --neutral1: hsl(217, 19%, 38%);
  --neutral2: hsl(217, 19%, 24%);
  --neutral3: hsl(218, 23%, 16%);
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-weight: 800;
}

body {
  background-color: var(--neutral3);
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--neutral2);
  border-radius: 0.5rem;
  width: 20rem;
  padding: 1.7rem 1.8rem 2.7rem 1.8rem;
}

.card h1 {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.09rem;
  color: var(--primary2);
}

.card p {
  color: var(--primary1);
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.button {
  position: absolute;
  display: grid;
  place-items: center;
  border-width: 0;
  bottom: -1.1rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: var(--primary2);
  transition: ease 0.2s;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 1em 0em hsl(150, 100%, 66%);
}